

/* nav {
    position: sticky;
    top: 2rem;
    display:inline-block;
} */

#menu {
    z-index: 2;
    position: sticky;
    display:inline-block;
    top: 3rem;
}

#menu-bar {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}


.nav {
    transition: 1.6s ease;
    display: none;
    
}

.nav ul {
    padding: 0 12px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    line-height: .5rem;
}

.nav li a {
    color: white;
    font-size: 18px;
    font-family:'MedievalSharp', cursive;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
    color: black;
    font-size: 1rem;
}

.menu-bg, #menu {
    top: 40;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, darkred, darkred);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.visible {
    width: 35px;
}

.visible2 {
    width: 35px;
    opacity: 0;
}

.change .visible {
    opacity: 0;
    position: absolute;
}

.change .visible2 {
    opacity: 1;
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
}


@media (min-width: 990px){
    #menu {
        display: none;
        
    }
}

.flier {
	pointer-events: none;
}

.flier img {
    width: 3rem;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 70s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh)
	}

	15% {
		transform: translateX(50vw) translateY(-20%)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(40vw)
	}

	40% {
		transform: translateX(-300%) translateY(7vh) 
	}

	40.001%, 43% {
		transform: translateX(-20%) translateY(-100%)
	}

	65% {
		transform: translateX(100vw) translateY(50vh)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-100%) 
	}

	95% {
		transform: translateX(10vw) translateY(100vh)
	}
}

.x {
    position: absolute;
    animation: x 13s linear infinite alternate;
}
.y {
    animation: y 7s linear infinite alternate;
}
@keyframes x {
    100% {
        transform: translateX(calc(100vw - 100px));
   }
}
@keyframes y {
    100% {
        transform: translateY(calc(100vh - 100px));
   }
}

.a {
    position: absolute;
    animation: x 9s linear infinite alternate;
}
.b {
    animation: y 14s linear infinite alternate;
}
@keyframes a {
    100% {
        transform: translateX(calc(100vw - 100px));
   }
}
@keyframes b {
    100% {
        transform: translateY(calc(100vh - 100px));
   }
}

.c {
    position: absolute;
    animation: x 15s linear infinite alternate;
}
.d {
    animation: y 20s linear infinite alternate;
}
@keyframes c {
    100% {
        transform: translateX(calc(100vw - 100px));
   }
}
@keyframes d {
    100% {
        transform: translateY(calc(100vh - 100px));
   }
}

#fantasma {
    width: 4rem;
}
#fantasma2 {
    width: 2rem;
}
#fantasma3 {
    width: 3.5rem;
}
