
#pregrilla-productos-individual {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#grilla-productos, #grilla-productos2  {
    padding-top: 1rem;
}

#barra-busqueda-producto-individual {
    margin: auto;
    top: -.4rem;
}

/* #titulo-productos {
    margin: 0 0 .5rem;
    font-size: 1.2rem;
    font-weight: 900;
} */

.contenedor-individual {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(11, 1, 16, 0.947);
}

.wrapper-individual {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 3rem;
    justify-content: center;
}

.imagen-individual {
    width: 100%;
    height: 100%;
    padding: 5% 0 0 5%;
}

.imagen-individual img {
    width: 100%;
    height: auto;
    float: right;
}

.texto-individual {
    width: 100%;
    padding: 5% 0 0 2%;
}

.titulo-individual {
    color: white;
    font-family: 'MedievalSharp', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.precio-individual {
    color: darkred;
    margin-bottom: .8rem;
}

.descripcion-individual {
    color: white;
    line-height: 1.3rem;
    width: 100%;
    max-height: 600px;
    vertical-align: center;

}

.adopt {
    background-color: darkred;
    width: auto;
    margin-left: 1rem;
    font-size: 1rem;
    float: right;
    /* font-family: 'MedievalSharp', cursive; */
}

.adopta {
    text-decoration: none;
    font-family: 'MedievalSharp', cursive;
    color: white;
}

.adopt:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

#grilla-productos-individual {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1rem;
}

#pregrilla-productos-individual {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

#productos-individual {
    margin-top: 2rem;
    width: 100%;
    display: flex;
}

#h3-grilla-individual {
    padding: 0;
    width: 86%;
}

#producto-individual {
    justify-content: space-between;
}

/* #titulo-productos-individual {
    width: 80%;
    padding: 0;
    margin: 0;
    margin-top: 1.6rem;
} */

#dedo-individual {
    width: 8%;
    margin-bottom: .6rem;
    padding: 0;
    margin: 0;
}

#ver-todo-individual {
    margin-bottom: .6rem;
    padding: 0;
    margin: 0;
    width: 12%;
    justify-self: end;
    justify-content: end;
}


#producto-individual img{
    width: 100%;
    height: auto;
}

/* MEDIA */

@media (min-width: 320px) and (max-width: 570px) {
    .wrapper-individual {
        width: 100%;
        margin:0;
        padding: 0;
        flex-wrap: wrap;
    }
    .imagen-individual {
        width: 100%;
        height: auto;
        padding: 0;
        overflow: hidden;
    }
    
    .imagen-individual img {
        width: 100%;
        height: auto;
    }

    .texto-individual {
        padding: 1rem;
        height: auto;
        margin-bottom: 0;
    }

    .descripcion-individual {
        font-size: .8rem;
        /* max-height: 14rem; */
        overflow: scroll;
        
    }

    #grilla-productos-individual, #grilla-productos2-individual {
        width: 100%;
    }

    #pregrilla-productos-individual {
        margin-top: -1rem;
    }

    /* #titulo-productos-individual {
        padding-top: 1rem;
        padding-left: 1rem;
    } */

    #productos-individual {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #producto-individual {
        width: 45%;
        margin: 0 auto;
    }

    #grilla-productos-individual, #grilla-productos2-individual  {
        margin: 0;
        padding: 0;
    }

    #h3-grilla-individual {
        padding-left: 1rem;
    }
}

@media (min-width: 570px) and (max-width: 768px) {
    #barra-busqueda-producto-individual {
        width: 100%;
    }
    
    #barra-busqueda-producto-individual img{
        margin-left: -.5rem;
    }
    .wrapper-individual {
        width: 100%;
        margin:0;
        padding: 0;
        flex-wrap: wrap;
    }
    .imagen-individual {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    
    .imagen-individual img {
        width: 100%;
        height: auto;
    }

    .texto-individual {
        padding: 0 1rem 1rem;
        height: auto;
        margin-bottom: 0;
        overflow: hidden;
    }

    .titulo-individual {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    .descripcion-individual {
        font-size: .9rem;
        line-height: 1rem;
    }

    #grilla-productos-individual, #grilla-productos2-individual  {
        width: 100%;
    }

    #pregrilla-productos-individual {
        margin-top: -1rem;
    }

    #pregrilla-individual {
        padding: 0;
    }

    #h3-grilla-individual {
        padding-left: 1rem;
    }

    /* #titulo-productos-individual {
        padding-top: 1rem;
        padding-left: 1rem;
    } */

    #productos-individual {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #producto-individual {
        width: 45%;
        margin: 0 auto;
    }

    #grilla-productos-individual, #grilla-productos2-individual  {
        margin: 0;
        padding: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    #barra-busqueda-producto-individual img{
        margin-left: -.2rem;
    }
    /* #barra-busqueda-productos img{
        margin-left: 4rem;
    } */
    .wrapper-individual {
        width: 100%;
        margin:0;
        padding: 0;
        flex-wrap: nowrap;
    }
    .imagen-individual {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    
    .imagen-individual img {
        width: 100%;
        height: auto;
    }

    .texto-individual {
        padding: 1rem;
        height: auto;
        margin-bottom: 0;
        overflow: hidden;
    }

    .titulo-individual {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    .descripcion-individual {
        font-size: .8rem;
        line-height: 1.2rem;
        max-height: 350px;
        overflow: scroll;
    }

    #grilla-productos-individual, #grilla-productos2-individual  {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #pregrilla-productos-individual {
        width: 90%;
        margin: 0;
        padding: 1rem;
    }

    #productos-individual {
        width: 95%;
        flex-wrap: wrap;
        margin: 0;
        padding: 1rem;
    }

    #producto-individual {
        width: 21%;
        margin: 10px;

    }

    #ver-todo-individual {
        font-size: 1rem;;
    }

}

@media (min-width: 900px) and (max-width: 1024px) {
    .descripcion-individual {
        font-size: .9rem;
        line-height: 1.2rem;
        max-height: 400px;
        overflow: scroll;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .wrapper-individual {
        width: 100%;
    }
    .descripcion-individual {
        line-height: 1.2rem;
        max-height: 400px;
        overflow: scroll;
        overflow-X: hidden;
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    .descripcion-individual {
        line-height: 1.4rem;
        max-height: 400px;
        overflow: scroll;
    }

    /* #productos-individual {
        margin-top: 1rem;
    } */
}

