.busqueda-input-productos {
    border-radius: 20px;
    width: 16rem;
    position: relative;
    border: none;
    padding: 1rem;
    margin-left: 3rem;
    font-size: 17px;
    font-family: 'MedievalSharp', cursive;
    /* font-weight: 300; */
}

#pregrilla-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding: 4rem; */
    width: 90%;
    overflow: hidden;
    margin: auto;
}

#grilla-productos, #grilla-productos2 {
    height: auto;
    padding-top: 2rem;
    display: grid;
}


#titulo-productos {
    /* color: green; */
    position: relative;
    display: block;
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}

.agregar {
    height: auto;
    display: block;
    position: relative;
    width: 8rem;
    background-color: darkred;
    color: white;
    border: none;
    padding: 14px;
    margin: 1rem .5rem;
    grid-column-start: 5;
    font-family: 'MedievalSharp', cursive;
    float: right;
}

/* .agregar a {
    font-size: 3rem;
} */

.agregar:hover {
    background-color: red;
}


#prohibido {
    cursor: not-allowed;
}

/* MEDIA */

@media (min-width: 320px) and (max-width: 570px) {
    
    #header-productos {
        width: 100%;
    }
    
    #header-info-productos {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    #logo-container-productos {
        grid-column-start: 1;
        margin: 0 .7rem;
        padding: 0 .8rem;
        width: 50%;
    }

    .lupa-productos {
        grid-column-start: 3;
        padding: .5rem 1rem;
    }

    
    #pregrilla-productos {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    
    #grilla-productos, #grilla-productos2 {
        padding-top: 1rem;
    }

    #titulo-productos {
        margin: 0 0 .5rem;;
        font-size: 1.2rem;
        font-weight: 900;
    }
    
    .agregar {
        height: auto;
        width: 50%;
        padding: 14px auto;
        font-size: .7rem;
        margin: .5rem 0;
        float: right;
    }
    
    .agregar:hover {
        background-color: red;
    }

}

@media (min-width: 570px) and (max-width: 768px) {
    #header-productos {
        width: auto;
    }

    #pregrilla-productos {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        padding: .5rem;
    }
    
    #grilla-productos, #grilla-productos2 {
        padding-top: 1rem;
    }

    #titulo-productos {
        margin: 0 2rem .5rem 0;
        font-size: 1.2rem;
        font-weight: 900;
        width: 70%;
    }

    .agregar {
        height: auto;
        width: 25%;
        font-size: .7rem;
        margin: 0;
        float: right;
    }
}
@media (min-width: 570px) and (max-width: 1024px) {
    #ojo-productos{
        /* margin: 0;
        padding: 0; */
        position: relative;
        left:0;
    }

    #barra-busqueda-productos {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* #busqueda-input-productos {
        width: 8rem;
    } */

}


@media (min-width: 768px) and (max-width: 1024px) {
    #header-productos {
        width: auto;
    }

    #pregrilla-productos {
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
        padding: .5rem;
    }
    
    #grilla-productos, #grilla-productos2 {
        padding-top: 1rem;
    }

    #titulo-productos {
        margin: 0 2rem .5rem 0;
        font-size: 1.2rem;
        font-weight: 900;
        width: 67%;
    }
    
    .agregar {
        height: auto;
        width: 25%;
        font-size: .7rem;
        margin: 0;
        float: right;
    }
}

@media (min-width: 1024px) {
    #pregrilla-productos {
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
        padding: .5rem;
    }
    
    #grilla-productos, #grilla-productos2 {
        padding-top: 1rem;
    }

    #titulo-productos {
        margin: 0 auto;
        padding-top: 1.2rem;
        font-size: 1.2rem;
        font-weight: 900;
        /* width: 74%; */
    }
    
    .agregar {
        height: auto;
        width: 20%;
        max-width: 20%;
        font-size: .8rem;
        float: right;
    }
}